<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
</head>

<body>

    <div class="container-fluid">
        <!-- buscador -->
        <div class="row">
            <div class="col-2 d-flex justify-content-end">
                <img src="img/bikeParts.png" alt="" class="img-responsive">
            </div>
            <div class="col-8 d-flex justify-content-center p-4">
                <input class="form-control me-2" type="search" placeholder="SEARCH" aria-label="Search"
                    style="width: 500px;">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i>
                    SEARCH</button>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <a href="login" class="text-black"><i class="fa-regular fa-circle-user"
                        style="height: 40px;cursor: pointer;"></i></a>
                <hr class="vertical-line text-primary" />
                <a href="carrito" class="text-black"><i class="fa-solid fa-cart-shopping"
                        style="height: 35px;cursor: pointer;"></i></a>
            </div>
        </div>
        <!-- navbar -->
        <div class="row bg-primary text-uppercase">
            <div class="col-4 text-center">
                <a href="/pagina-principal" class="text-white" style="text-decoration: none;">
                    <h2>inicio</h2>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="productos" class="text-white" style="text-decoration: none;">
                    <h2>productos</h2>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="nosotros" class="text-white" style="text-decoration: none;">
                    <h2>nosotros</h2>
                </a>
            </div>
        </div>

        <!-- titulo -->
        <div class="row bg-primary text-center mt-5">
            <h1>CARRITO DE COMPRA</h1>
        </div>

        <div class="container mt-5">
            <div class="row mb-3">
                <div class="col-md-9" style="max-height: 400px; overflow-y: auto;">
                    <!-- Tarjeta 1 -->
                    <div class="card mb-3" style="background-color: rgb(209, 206, 206);">
                        <div class="d-flex justify-content-center align-items-center" style="max-height: 200px; overflow: hidden;">
                            <img src="https://tiendaonlinebmw.vtexassets.com/arquivos/ids/158586-800-auto?v=637498647336900000&width=800&height=auto&aspect=true" class="card-img-top" alt="..." style="max-width: 100%;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">LLANTA PIRELLI ANGEL CITY</h5>
                            <p class="card-text text-primary">Medidas 110-10-90</p>
                            <h3>Precio: $150.000</h3>
                            
                            <!-- Botón de eliminar y campo de cantidad -->
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-danger btn-block">Eliminar</button>
                                <div class="input-group" style="width: 120px;">
                                    <input type="number" class="form-control" value="1" min="1">
                                </div>
                            </div>
                        </div>
                    </div>                                        
                
                    <!-- Tarjeta 2 -->
                    <div class="card mb-3" style="background-color: rgb(209, 206, 206);">
                        <div class="d-flex justify-content-center align-items-center" style="max-height: 200px; overflow: hidden;">
                            <img src="https://tiendaonlinebmw.vtexassets.com/arquivos/ids/158586-800-auto?v=637498647336900000&width=800&height=auto&aspect=true" class="card-img-top" alt="..." style="max-width: 100%;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">LLANTA PIRELLI ANGEL CITY</h5>
                            <p class="card-text text-primary">Medidas 110-10-90</p>
                            <h3>Precio: $150.000</h3>
                            
                            <!-- Botón de eliminar y campo de cantidad -->
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-danger btn-block">Eliminar</button>
                                <div class="input-group" style="width: 120px;">
                                    <input type="number" class="form-control" value="1" min="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Tarjeta 3 -->
                    <div class="card mb-3" style="background-color: rgb(209, 206, 206);">
                        <div class="d-flex justify-content-center align-items-center" style="max-height: 200px; overflow: hidden;">
                            <img src="https://tiendaonlinebmw.vtexassets.com/arquivos/ids/158586-800-auto?v=637498647336900000&width=800&height=auto&aspect=true" class="card-img-top" alt="..." style="max-width: 100%;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">LLANTA PIRELLI ANGEL CITY</h5>
                            <p class="card-text text-primary">Medidas 110-10-90</p>
                            <h3>Precio: $150.000</h3>
                            
                            <!-- Botón de eliminar y campo de cantidad -->
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-danger btn-block">Eliminar</button>
                                <div class="input-group" style="width: 120px;">
                                    <input type="number" class="form-control" value="1" min="1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta 4 -->
                    <div class="card mb-3" style="background-color: rgb(209, 206, 206);">
                        <div class="d-flex justify-content-center align-items-center" style="max-height: 200px; overflow: hidden;">
                            <img src="https://tiendaonlinebmw.vtexassets.com/arquivos/ids/158586-800-auto?v=637498647336900000&width=800&height=auto&aspect=true" class="card-img-top" alt="..." style="max-width: 100%;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">LLANTA PIRELLI ANGEL CITY</h5>
                            <p class="card-text text-primary">Medidas 110-10-90</p>
                            <h3>Precio: $150.000</h3>
                            
                            <!-- Botón de eliminar y campo de cantidad -->
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-danger btn-block">Eliminar</button>
                                <div class="input-group" style="width: 120px;">
                                    <input type="number" class="form-control" value="1" min="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="col-md-3"
                    style="background-color: rgb(209, 206, 206); padding: 20px; max-height: 50vh; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="text-center">
                        <h3>RESUMEN DE COMPRAS</h3>
                        <hr class="bg-dark" style="height: 10px;">
                        <div class="d-flex justify-content-between">
                            <p>TOTAL :</p>
                            <h5>$150.000</h5>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <a href="" class="btn btn-primary" style="width: 100%;">SEGUIR COMPRA</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="row bg-black text-white">
            <div class="col-lg-4 col-12 mt-3 mb-3">
                <h3>Información de Contacto</h3>
                <p>Teléfono: +123456789</p>
                <p>Email: info@example.com</p>
                <p>Dirección: 123 Calle Principal</p>
            </div>
            <div class="col-lg-4 col-12 mt-3 mb-3">
                <h3>Redes Sociales</h3>
                <ul>
                    <li><a href="https://web.facebook.com/profile.php?id=100041777677632"
                            style="text-decoration: none;">Facebook</a></li>
                    <li><a href="#" style="text-decoration: none;">Twitter</a></li>
                    <li><a href="https://www.instagram.com/jaime_montoya08/"
                            style="text-decoration: none;">Instagram</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-12 mt-3 mb-3">
                <h3>Quejas y Reclamaciones</h3>
                <p>Estamos aquí para ayudarte. Si tienes alguna queja o reclamación, por favor, déjanos saber a través
                    de este formulario:</p>
                <form class="d-flex align-content-center">
                    <input class="m-2" placeholder="Escribe tu queja o reclamación"></input>
                    <button class="btn btn-primary m-2" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>