<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/alertify.css" />
    <script src="js/alertify.js"></script>
</head>

<body>
    <!-- modal para confirmar retiro y eliminacion del carrito -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmacion de retiro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro de regresar a la Pagina Principal?
                    se eliminaran todos los productos del carrito
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="noretiro()">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="retirodepagina()">Si, seguro</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- buscador -->
        <div class="row icon-container">
            <!-- parte de modal y validacion del carrito -->
            <a href="/" class="col-2 d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="validacioncarrito()">
                <img src="img/bikeParts.png" alt="" class="img-responsive">
            </a>
            <div class="col-8 d-flex justify-content-center p-4">
                <div class="search-container d-flex align-items-center">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="SEARCH"
                        aria-label="Search">
                    <div id="autocompleteResults" class="autocomplete-results"></div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center ">
                <a href="login" class="text-black">
                    <i class="fa-regular fa-circle-user" style="height: 40px;cursor: pointer;"></i>
                </a>
                <hr class="vertical-line text-primary" />
                <a href="carrito" class="text-black">
                    <i class="fa-solid fa-cart-shopping" style="height: 35px;cursor: pointer;"></i>
                    <span class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-danger"
                        id="cantidadItems">
                        0
                        <span class="visually-hidden">unread messages</span>
                </a>
            </div>
        </div>
        <!-- Navbar -->
        <div class="row bg-primary text-uppercase" id="navBar">
            <div class="col-4 text-center">
                <a href="/pagina-principal" class="text-white" style="text-decoration: none;">
                    <h2>inicio</h2>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="productos" class="text-white" style="text-decoration: none;">
                    <h2>productos</h2>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="nosotros" class="text-white" style="text-decoration: none;">
                    <h2>nosotros</h2>
                </a>
            </div>
        </div>

        <!-- titulo -->
        <div class="row bg-primary text-center mt-5">
            <h1>CARRITO DE COMPRA</h1>
        </div>

        <!-- prueba 3 -->
        <div class="container mt-5">
            <div class="row mb-3">
                <div class="col-md-9">

                    <!-- Tarjeta funcion -->
                    <div id="detallecarrito"></div>

                </div>
                <div class="col-md-3"
                    style="background-color: rgb(209, 206, 206); padding: 20px; max-height: 50vh; display: flex; flex-direction: column;">
                    <div class="text-center">
                        <h3>RESUMEN DE COMPRAS</h3>
                        <hr class="bg-dark" style="height: 10px;">
                        <div class="d-flex justify-content-between">
                            <p>TOTAL PRODUCTOS:</p>
                            <h5 id="totalPRO">$</h5>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>TOTAL:</p>
                            <h5 id="total">$</h5>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary" onclick="completarCompra()">SEGUIR COMPRA</button>
                    </div>
                </div>
            </div>
        </div>

        <!--fin prueba 3  -->



        <!-- footer -->
        <div class="row bg-black text-white mt-3">
            <div class="col-lg-4 col-12 mt-3 mb-3 d-flex justify-content-center">
                <img src="img/bikeParts.png" style="width: 30%;" alt="">
            </div>
            <div class="col-lg-4 col-12 mt-3 mb-3" id="footer">

            </div>
            <div class="col-lg-4 col-12 mt-3 mb-3">
                <h3>Quejas y Reclamaciones</h3>
                <p>Estamos aquí para ayudarte. Si tienes alguna queja o reclamación, por favor, déjanos saber a través
                    de este formulario:</p>
                <form class="d-flex align-content-center">
                    <input class="m-2" placeholder="Escribe tu queja o reclamación"></input>
                    <button class="btn btn-primary m-2" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="js/carrito.js"></script>
</body>


</html>