<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="js/CrudEmpresa.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        .container-scroll {
            max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
            overflow-y: auto;
            padding-right: 15px; /* Agrega un poco de espacio a la derecha para evitar que el desplazamiento vertical oculte parte del contenido */
        }
    </style>
</head>

<body onload="mostrar()">
    <div class="container-fluid">
        <div class="row bg-black">
            <div class="col-10 d-flex justify-content-around">
                <a href="/administradores-clientes" style="text-decoration: none;color: white;">
                    <h2>Clientes</h2>
                </a>
                <a href="/empresa" style="text-decoration: none;color: white;">
                    <h2>Empresas</h2>
                </a>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <a href="/" class="btn btn-danger" >Cerrar</a>
            </div>
        </div>

        <div class="text-center mt-4">
            <h1>Formulario de Empresa</h1>
        </div>
        <div class="container-scroll">
            <div class="row mt-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text" id="txtNombre" class="form-control">

                </div>


            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">

                <div class="form-group">
                    <label for="">Descripcion:</label>
                    <input type="text" id="txtDescripcion" class="form-control">

                </div>


            </div>
            </div>


            <div class="row mt-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Nit:</label>
                    <input type="text" id="txtNit" class="form-control">

                </div>


            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Imagenes:</label>
                    <input type="text" id="txtImagen" class="form-control">

                </div>
            </div>
            </div>

            <div class="row mt-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Direccion:</label>
                    <input type="text" id="txtDireccion" class="form-control">

                </div>


            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" id="txtTelefono" class="form-control">
                </div>
            </div>
            </div>

            <div class="row mt-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Logo:</label>
                    <input type="text" id="txtLogo" class="form-control">

                </div>


            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Vision:</label>
                    <input type="text" id="txtVision" class="form-control">
                </div>
            </div>
            </div>
            <div class="row mt-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Mision:</label>
                    <input type="text" id="txtMision" class="form-control">
                </div>


            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="txtAdmin">Administrador a cargo:</label>
                    <select id="txtAdmin" class="form-control w-auto">
                        <option selected disabled>Seleccionar</option>
                    </select>
                </div>
            </div>
            </div>

            <div class="row mt-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Correo:</label>
                    <input type="email" id="txtcorreo" class="form-control">

                </div>


            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="">Instagram (opcional):</label>
                    <input type="text" id="txtinstagram" class="form-control">
                </div>
            </div>
            </div>
        </div>
        <div class="row mt-4 ">
            <div class="col d-flex justify-content-center">

                <a class=" btn btn-primary" onclick="crear()">Guardar</a>

            </div>


        </div>
        <div class="row bg-primary text-center text-white mt-4">
            <h1>NUESTRAS EMPRESAS</h1>
        </div>
        <div class="row d-flex justify-content-center align-items-center mt-5">
            <div class="col-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Nit</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Herramientas</th>
                        </tr>
                    </thead>
                    <tbody id="EmpresasCarga">

                    </tbody>
                </table>

            </div>

        </div>



        <!-- modal de modificar -->

        <div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="modificarModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h1 class="modal-title fs-5" id="modificarModalLabel">Modificar Empresa</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="continer">
                            <div class="row mt-5">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Nombre:</label>
                                        <input type="text" id="txtNombre2" class="form-control">

                                    </div>


                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">

                                    <div class="form-group">
                                        <label for="">Descripcion:</label>
                                        <input type="text" id="txtDescripcion2" class="form-control">

                                    </div>


                                </div>
                            </div>


                            <div class="row mt-5">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Nit:</label>
                                        <input type="text" id="txtNit2" class="form-control">

                                    </div>


                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Imagen:</label>
                                        <input type="text" id="txtImagen2" class="form-control">

                                    </div>




                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Direccion:</label>
                                        <input type="text" id="txtDireccion2" class="form-control">
                    
                                    </div>
                    
                    
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Telefono:</label>
                                        <input type="text" id="txtTelefono2" class="form-control">
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row mt-5">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Logo:</label>
                                        <input type="text" id="txtLogo2" class="form-control">
                    
                                    </div>
                    
                    
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Vision:</label>
                                        <input type="text" id="txtVision2" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Mision:</label>
                                        <input type="text" id="txtMision2" class="form-control">
                                    </div>
                    
                    
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="txtAdmin">Administrador a cargo:</label>
                                        <select id="txtAdmin2" class="form-control w-auto">
                                            <option selected disabled>Seleccionar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Correo:</label>
                                        <input type="email" id="txtcorreo2" class="form-control">
                    
                                    </div>
                    
                    
                                </div>
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <div class="form-group">
                                        <label for="">Instagram (opcional):</label>
                                        <input type="text" id="txtinstagram2" class="form-control">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                            onclick="Modificar()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


       


        
        <!-- Modal para inhabiliatr -->
        <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="eliminarModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <h3>Esta seguro de la inabilitar la empresa?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="eliminar()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>




    n


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>