<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Nosotros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nosotrosPro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/nosotrosPro.js"></script>

</head>


<body>
    <div class="fondo">
        <img src="img/sin.png" alt="Otra Imagen" class="nueva-imagen">
        <div class="col-12 text-center"
            style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);">
            <h3 style="font-size: 2.5em; overflow: hidden; color: aliceblue;" class="d-lg-block d-none">LAS MEJORES
                TIENDAS DE<BR> LA CIUDAD A UN SOLO CLICK</h3>
        </div>
        <div class="menu-container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler custom-btn align-right" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon navbar-light"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav w-100 d-flex flex-column align-items-center">
                            <img src="img/logo.png" class="logo ms-5 d-none d-lg-block" alt="Logo">

                            <!-- Botones visibles antes del colapso -->
                            <div class="d-lg-flex justify-content-center">
                                <a class="link ms-5 me-6 mt-4" aria-current="page" href="/">Inicio</a>
                                <a class="link ms-4 me-5 mt-4" href="nosotrosPro">Nosotros</a>
                                <!-- <a class="link ms-5 me-5 mt-4" href="#contenedor">Tiendas</a> -->
                                <a class="btn btn-warning rounded-3 ms-5 me-5 mt-4" onclick="redirectToWhatsApp()"
                                    href="#">SE PARTE DE NOSOTROS</a>
                            </div>


                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="mt-5">

        <h1 class="text-center  text-warning" style="font-size: 9em;">QUIENES SOMOS</h1>
    </div>
    <br>
    <br>
    <div class="clearfix text-center">
        <img src="https://www.fundaciontelefonica.com/wp-content/uploads/2021/08/programacion-42-portada-noticia-2560x950-1.jpg"
            class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">

        <h5>
            <br>
            En el universo de BIKEPARTS, la pasión por las motocicletas se fusiona con la innovación y el compromiso. No
            solo ofrecemos repuestos; ofrecemos una experiencia completa para los amantes de las dos ruedas. Nuestro
            compromiso con la excelencia se refleja en cada detalle, desde la calidad de nuestros productos hasta la
            facilidad de navegación en nuestra plataforma.

            En cada rincón de BIKEPARTS, encontrarás más que simples piezas mecánicas. Descubrirás un mundo de
            posibilidades para personalizar tu moto y expresar tu estilo único. Desde accesorios exclusivos hasta las
            últimas tendencias en diseño, nos esforzamos por ser el epicentro de la creatividad motociclista.

            Nos enorgullece ser el puente entre los entusiastas de las motos y una red diversa de proveedores de
            confianza. En BIKEPARTS, no solo facilitamos transacciones; construimos conexiones duraderas. La confianza y
            la satisfacción de nuestra comunidad son nuestro motor principal.

            Además de ofrecer productos de alta calidad, estamos comprometidos con la seguridad y el bienestar de los
            motociclistas. Proporcionamos información valiosa, consejos expertos y recursos útiles para garantizar que
            cada viaje sea seguro y emocionante.

            En BIKEPARTS, creemos que cada motociclista tiene una historia única, y queremos ser parte de ella. Únete a
            nosotros en esta emocionante travesía, donde la pasión por las motos se encuentra con la excelencia y la
            diversidad. Descubre un mundo de posibilidades en BIKEPARTS, tu destino definitivo para todo lo relacionado
            con el mundo de las motocicletas. ¡Conduce con estilo y emoción!
        </h5>
    </div>

    <div class="" style="background-color: rgb(245, 90, 0); height: 1px;"></div>
    <div class="m-5">
        <h5>
            "En el vasto lienzo digital, cada línea de código es una pincelada que da vida a tus ideas. Programar es el
            arte de crear mundos desde la nada, de resolver problemas con ingenio y de desafiar constantemente los
            límites de la imaginación. Cada error es una lección, cada éxito es un logro. Adéntrate en el emocionante
            viaje de la programación y descubre el poder transformador de tu creatividad. ¡El código es la llave que
            desbloquea un universo de posibilidades ilimitadas!"
        </h5>
    </div>

    <div class="" style="background-color: rgb(245, 90, 0); height: 1px;"></div>
    <br>
    <div class="row mb-5">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://scontent.fbog14-1.fna.fbcdn.net/v/t39.30808-6/409037220_2206857962858212_7031619693740827484_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeH2Y8pPVejVi4iaFJtAOvGepL9rnREagaCkv2udERqBoHgEUotImRp3WZ7aRsMRfIYjP1LKr4YTt0C2obw_ECls&_nc_ohc=TGCGSjUKx34AX-gz7U2&_nc_zt=23&_nc_ht=scontent.fbog14-1.fna&oh=00_AfBPBv-DSpSbqFu-ZchgPAS-XYPNopQ8R58am-7CMmtPcQ&oe=65791779"
                alt="Imagen 1" class="img-fluid" style="max-width: 100%; height: 300px;">
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://scontent.fbog14-1.fna.fbcdn.net/v/t39.30808-6/409058655_2206855886191753_5422542692427926708_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeG5CztyCPe1tD6lGxYsxcmPN0PRFE0Ozjk3Q9EUTQ7OOSoZ9JdcPGia-FNgnsBSxCWKFBIO5zTpcDTTK6DDle46&_nc_ohc=dBqUeSCEaukAX8n6NmT&_nc_zt=23&_nc_ht=scontent.fbog14-1.fna&oh=00_AfBy7Ke8RE3IU7SM8NjsEQPxuHh0DgQc3zYQpFhdqw1UxA&oe=6577A6A6"
                alt="Imagen 2" class="img-fluid" style="max-width: 100%; height: 300px;">
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://scontent.fbog14-1.fna.fbcdn.net/v/t39.30808-6/409112142_2206858992858109_2572375035480835843_n.jpg?stp=dst-jpg_p180x540&_nc_cat=107&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeH8YjAuZBkBEmqk9yfnYFJuiMlXiM-lGLKIyVeIz6UYsveM494StIWObMohZmYBi8qkC2PtKTECFpcR3KF2_0-a&_nc_ohc=97MPzJf7CBwAX-iQ_x3&_nc_zt=23&_nc_ht=scontent.fbog14-1.fna&oh=00_AfBRRM8rsHEN9MeIohkIHU6eNAYDF2x4ef-uqzR1zkdeyA&oe=65785C7A"
                alt="Imagen 3" class="img-fluid" style="max-width: 100%; height: 300px;">
        </div>
    </div>



    <!-- Testimonios de clientes -->
   
    <div class="" style="background-color: rgb(245, 90, 0); height: 20px;"></div>
    <div class="footer bg-dark text-light p-3 text-center">
        <div class="d-flex flex-column flex-md-row justify-content-around align-items-center">
            <div class="col-5 text-light text-center p-5">
                <h1>Información de contacto</h1>
                <h2>Teléfono: (310) 244-5188</h2>
                <h2>Teléfono: (318) 595-8871</h2>
                <h2>Correo: BikeParts.sas@gmail.com</h2>
            </div>
            <div class="logo-section mb-4 d-flex align-items-center">
                <img src="img/logo.png" alt="Logo Footer" class="img-fluid logo-img">
            </div>
            <div class="col-5 text-center">
                <br>
                <p style="font-size: 44px; font-weight: bold; color: white;"> "Conviértete en alguien que nadie,
                    pensó que lo lograrías".</p>
            </div>
        </div>
        <div class="row" style="background-color: rgb(245, 90, 0); height: 20px;"></div>
        <h3 class="text-center mt-1 text-warning">
            @2023 BIKE-PARTS
        </h3>
    </div>


  

</body>

</html>