<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="css/Paginaprincipal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/Paginaprincipal.js"></script>
    <!-- cdn de sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body onload="mostrarcantidadcarrito()">
    <div class="container-fluid">
        <!-- buscador -->
        <div class="row icon-container">
            <a  class="col-2 d-flex justify-content-end" 
            onclick="validacioncarrito()" id="logo"> 
            </a>
            <div class="col-8 d-flex justify-content-center p-4">
                <div class="search-container d-flex align-items-center">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="SEARCH"
                        aria-label="Search">
                    <div id="autocompleteResults" class="autocomplete-results"></div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center ">
                <a href="login" class="text-black">
                    <i class="fa-regular fa-circle-user" style="height: 40px;cursor: pointer;"></i>
                </a>
                <hr class="vertical-line text-primary" />
                <a href="carrito" class="text-black">
                    <i class="fa-solid fa-cart-shopping" style="height: 35px;cursor: pointer;"></i>
                    <span class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-danger"
                        id="cantidadItems">
                        0
                <span class="visually-hidden">unread messages</span>
                </a>
            </div>
        </div>
        <!-- Navbar -->
        <div class="row bg-primary text-uppercase" id="navBar">
            <div class="col-4 text-center">
                <a href="/pagina-principal" class="text-white" style="text-decoration: none;">
                    <h2>inicio</h2>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="productos" class="text-white" style="text-decoration: none;">
                    <h2>productos</h2>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="nosotros" class="text-white" style="text-decoration: none;">
                    <h2>nosotros</h2>
                </a>
            </div>
        </div>

        <!-- carrusel-->
        <div class="row mt-3">
            <div id="carouselExampleIndicators" class="carousel slide position-relative" data-bs-ride="carousel">

                <!-- Contenedor de las imágenes -->
                <div class="carousel-inner" id="carrusel">
                    
                </div>

                <!-- Botones de desplazamiento -->
                <div class="d-flex justify-content-center position-absolute w-100 bottom-0">
                    <button type="button" class="dot bg-light border-black" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"></button>
                    <button type="button" class="dot bg-light border-black" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"></button>
                    <button type="button" class="dot bg-light border-black" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"></button>
                </div>

            </div>
        </div>
        <!-- fin del codigo carrusel -->

        <!-- lines azul sin sentido -->
        <div class="row mt-3">
            <div class="bg-primary" style="height: 20px;"></div>
        </div>
        <!-- titulo categorias -->
        <div class="row text-center bg-black text-white d-flex align-items-center" style="height: 70px;">
            <h2>NUESTRAS CATEGORIAS</h2>
        </div>
        <!-- categorias -->
        <div id="mostrarCategorias" class="row justify-content-center p-5" style="background-color: rgb(212, 212, 212);">
            
        </div>

        <!-- lines azul sin sentido -->
        <div class="row">
            <div class="bg-primary" style="height: 20px;"></div>
        </div>
        <!-- marcas aliadas-->
        <div class="row" style="margin-top: 20px;">
            <div class="text-center">
                <h2 style="color: white; -webkit-text-stroke: 2px black;">MARCAS ALIADAS</h2>
            </div>
            <div class="slider" id="mostrarMarcasAliadas">
                
            </div>
        </div>
        <!-- lines azul sin sentido -->
        <div class="row">
            <div class="bg-primary" style="height: 20px;"></div>
            <div style="height: 40px;"></div>
        </div>
        <!-- lines gris sin sentido -->
        <div class="row">
            <div style="height: 40px;background-color: rgb(212, 212, 212);"></div>
        </div>
        <!-- productos destacados -->
        <div class="row" style="background-color: rgb(212, 212, 212);">
            <div class="bg-black text-white d-flex align-items-center justify-content-center" style="height: 70px;">
                <h2>PRODUCTOS DESTACADOS</h2>
            </div>
            <div id="productosAleatorios" class="d-flex justify-content-around mt-3 flex-wrap">
                <!-- tarjetas de productos -->
                
            </div>
            <div class="d-flex justify-content-center mt-3 mb-3">
                <a href="productos" class="btn btn-primary">VER TODOS LOS PRODUCTOS</a>
            </div>
        </div>
        <!-- lines azul sin sentido -->
        <div class="row mt-4">
            <div class="bg-primary" style="height: 20px;"></div>
        </div>
        <!--Inicio Preguntas frecuentes -->
        <div class="row" style="background-color: rgb(212, 212, 212);">
            <div class="bg-black text-white d-flex align-items-center justify-content-center" style="height: 70px;">
                <h2>PREGUNTAS FRECUENTES</h2>
            </div>
            <div class="mt-5 mb-5 d-flex justify-content-around flex-wrap">
                <div class="text-center m-2" style="max-width: 500px;">

                    <p style="font-weight: 1000;">¿Cómo puedo buscar piezas específicas para mi modelo de moto?</p>
                    <p> Puedes utilizar la barra de búsqueda en la página principal e ingresar el nombre,
                        o puedes navegar por las categorías de productos para encontrar la pieza que necesitas.</p>
                </div>
                <div class="text-center m-2" style="max-width: 500px;">

                    <p style="font-weight: 1000;"> ¿Cómo hago para realizar un pedido?</p>
                    <p> Después de encontrar la pieza que necesitas, agrégala al carrito de compras y sigue
                        los pasos del proceso de pago. Asegúrate de proporcionar la información de envío correcta.</p>
                </div>
                <div class="text-center m-2" style="max-width: 500px;">

                    <p style="font-weight: 1000;"> ¿Ofrecen descuentos o promociones especiales?</p>
                    <p>Sí, ocasionalmente ofrecemos descuentos y promociones especiales. Mantente actualizado revisando
                        nuestras
                        redes sociales y suscribiéndote a nuestro boletín de noticias.</p>
                </div>
            </div>
        </div>

        <!--  fin Preguntas frecuentes -->
        <!-- footer -->
        <div class="row bg-black text-white mt-3">
            <div class="col-lg-4 col-12 mt-3 mb-3 d-flex justify-content-center" id="logo2">
                
            </div>
            <div class="col-lg-4 col-12 mt-3 mb-3" id="footer">
                
            </div>
            <div class="col-lg-4 col-12 mt-3 mb-3">
                <h3>Sugerencias y Reclamaciones</h3>
                <p>Estamos aquí para ayudarte. Si tienes alguna queja o reclamación, por favor, déjanos saber a través
                    de este formulario:</p>
                <form class="d-flex align-content-center">
                    <input class="m-2" placeholder="Escribe tu reclamación" id="txtRecla"></input>
                    <a class="btn btn-primary m-2" onclick="enviarRecla()">Enviar</a>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>

<style>
    .slider {
        width: 75vw;
        height: auto;
        margin: auto;
        overflow: hidden;
    }

    .slider .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 14);
    }

    .slider .slide {
        width: 200px;
    }

    .slider .slide img {
        width: 100%;
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(calc(-200px * 7));
            transform: translateX(calc(-200px * 7));
        }
    }
</style>