body {
    max-width: 100%;
    overflow-x: hidden;
}
.fondo {
    position: relative;
    margin: 0;
    padding: 0;
    height: 90vh;
    background-image: url('https://w0.peakpx.com/wallpaper/871/787/HD-wallpaper-carretera-bosque-dark-viajar.jpg');
    background-size: cover;
    background-position: center;
}

.nueva-imagen {
    position: absolute;
    top: 65%;
    /*  posición vertical */
    left: 50%;
    /*  posición horizontal  */
    transform: translate(-50%, -50%);
    max-width: 55%;
    /* Ajusta el ancho máximo según tus necesidades */
    height: auto;
}


.navbar {
    background-color: transparent !important;
    /* Hace que la barra de navegación sea transparente */
}

.custom-btn {
    /* fondo del boton al hacer el response */
    background-color: white;

}

.logo {
    max-width: 90px;
    border-radius: 5%;
    position: absolute;
    height: auto;
    top: 30px;
    /* Ajusta la posición vertical según sea necesario */
    left: 90px;
    /* Ajusta la posición horizontal según sea necesario */

}

.align-right {
    margin-left: auto;
}



.logo-img {
    max-width: 200px;
    /* Tamaño del logo */
    height: auto;
    border-radius: 15px;

}




.link {
    text-decoration: none;
    color: #f8f8f8;
    /* color del texto */
    font-weight: normal;
    /* grosor de la fuente */
    /* Otros estilos que desees agregar */
    font-size: 30px;
    /* tamaño del texto */
    margin-right: 150px;
    /* espacio entre enlaces */
}