/* Agregar espacio entre las letras */
.letter-spacing {
letter-spacing: 25px;
}
.vertical-line {
    border-left: 5px solid;
    /* Color primario de Bootstrap */
    height: 75px;
    /* Ajusta la altura según tus necesidades */
    margin: 0 10px;
    /* Espacio entre la línea y los íconos */
    opacity: 1;
    /* Anula la opacidad predeterminada */
}

/* Estilo inicial para la imagen */
.img-responsive {
    width: 46%;
    padding: 15px;
}


/* Estilo para pantallas con 1060px de ancho o menos */
@media (max-width: 1060px) {
    .img-responsive {
        width: 70%;
    }
}
/* Estilo para pantallas con 663px de ancho o menos */
@media (max-width: 663px) {
    .img-responsive {
        width: 110%;
    }
}